<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- <a class="navbar-brand" routerLink="">Menu</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav" style="margin:0;">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about/48">About</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" (click)="openModal(template)">ContactUs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="life_goals">Life Goals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="bootstrap_practices">Bootstrap</a>
      </li>    
    </ul>
  </div>  
</nav>

<div class="col-md-12">
    <div style="margin-top:10px;">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- <app-home></app-home> -->
<ng-template #template style="width:50%;height:50%;">
  <div class="modal-header">
      <h4 class="modal-title pull-left">Contact Us</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"> <span aria-hidden="true">&times;</span> </button>
  </div>
  <div class="modal-body">
    <form #contactForm="ngForm" (ngSubmit)="sentEmail(contactForm.form);">
      <div class="row">
        <div class="col-md-2">Name:</div>
        <div class="col-md-6">
          <input type="text" class="form-control" name="cont_fname" ngModel #from_name="ngModel" required placeholder="Name">
          <div class="alert alert-danger small" *ngIf="from_name.touched && !from_name.valid">Your name is required.</div>
        </div>
      </div>
      <p></p>
      <div class="row">
        <div class="col-md-2">Email:</div>
        <div class="col-md-8">
          <input type="email" class="form-control" name="cont_femail" ngModel #from_email="ngModel" required placeholder="xyz@gmail.com">
          <div class="alert alert-danger small" *ngIf="from_email.touched && !from_email.valid">Your email is required.</div>
        </div>
      </div>
      <p></p>
      <div class="row">
        <div class="col-md-2">Subject:</div>
        <div class="col-md-9">
          <input type="text" class="form-control" name="cont_fsubject" ngModel #from_subject="ngModel" required placeholder="Subject">
          <div class="alert alert-danger small" *ngIf="from_subject.touched && !from_subject.valid">Subject is required.</div>
        </div>
      </div>
      <p></p>
      <div class="row">
        <div class="col-md-2">Message:</div>
        <div class="col-md-9">
          <textarea class="form-control" name="cont_fmessage" ngModel #from_message="ngModel" required maxlength="500" placeholder="Maximum 500 words"></textarea>
          <div class="alert alert-danger small" *ngIf="from_message.touched && !from_message.valid">Message is required.</div>
        </div>
      </div>
      <p></p>
      <div class="row">
        <div class="col-md-12">
          <div class="modal-footer">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
              <button class="btn btn-primary" [disabled]="!contactForm.valid">Submit</button>
            </div>
          </div>
          <!-- <p></p>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
              <div class="alert alert-success" *ngIf="emailMessage=='Mail Sent'">{{emailMessage}}</div>
              <div class="alert alert-danger" *ngIf="emailMessage=='Mail Not Sent'">{{emailMessage}}</div>
            </div>
          </div> -->
          </div>
        </div>
    </div>
    </form>
  </div>
</ng-template>