/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';

body {
    background: rgb(124, 124, 133);
    padding: 5px;
    font-family: 'Raleway', 'Arial';
    color:#fff;
}

a {
    color:#fff;
    text-decoration:none;
}
.container{
    max-width: 100%;
}
