/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';

body {
    background: #2E9CE6;
    padding: 3em;
    font-family: 'Raleway', 'Arial';
    color:#fff;
}

a {
    color:#fff;
    text-decoration:none;
}

@media only screen and (min-width: 576px){
    body {
        font-size: 9px;
        background-color: maroon;
        padding: 5px;
    }
    // .container{
    //     margin: 0 0 0 0;
    //     padding: 2px;
    //     max-width: 100%;
    // }
}

@media only screen and (max-width: 600px){
    body {
        font-size: 12px;
        background-color: maroon;
        padding: 5px;
    }
    .container{
        // margin: 0 0 0 0;
        // padding: 2px;
        max-width: 100%;
    }
    [class*="col-md-3"]{
        width: 25%;
        margin: 0px;
        padding: 5px;
    }
    .col-md-12 .row {
        padding: 0 5px 0 5px;
    }
}

@media only screen and (min-width: 600px){
    body {
        font-size: 12px;
        background-color: lightsalmon;
        padding: 5px;
    }
    .container{
        // margin: 0 0 0 0;
        // padding: 2px;
        max-width: 100%;
    }
    [class*="col-md-3"]{
        width: 25%;
        margin: 0px;
        padding: 5px;
    }
    .col-md-12 .row {
        padding: 0 5px 0 5px;
    }
}

@media only screen and (min-width: 768px){
    body {
        font-size: 14px;
        background-color: lightcoral;
        padding: 5px;
    }
    // .container{
    //     margin: 0 0 0 0;
    //     padding: 2px;
    //     max-width: 100%;
    // }
}

@media only screen and (min-width: 992px){
    body {
        font-size: 14px;
        background-color: lightskyblue;
    }
}