<div class="container">
    <div class="jumbotron1">
        <h2>Image Gallery</h2>
        <p>Click on the images to enlarge them.</p>
    </div>
    <p></p>
    <div class="jumbotron1">
        <div class="row">
            <div class="col-md-12">
                <h4><b>User</b></h4>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingProject/AboutUs2.jpg" target="_blank">
                                <img src="assets/OnlineShoppingProject/AboutUs2.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>About Us</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingProject/ContactUs2.jpg" target="_blank">
                                <img src="assets/OnlineShoppingProject/ContactUs2.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Contact Us</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingProject/HomePage2.jpg" target="_blank">
                                <img src="assets/OnlineShoppingProject/HomePage2.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Home Page</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingProject/Registration.jpg" target="_blank">
                                <img src="assets/OnlineShoppingProject/Registration.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Registration</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingProject/ForgetPswd.jpg" target="_blank">
                                <img src="assets/OnlineShoppingProject/ForgetPswd.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Forget Password</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingProject/Login.jpg" target="_blank">
                                <img src="assets/OnlineShoppingProject/Login.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Login</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingProject/ChangePswd.jpg" target="_blank">
                                <img src="assets/OnlineShoppingProject/ChangePswd.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Change Password</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingProject/ChangePswd2.jpg" target="_blank">
                                <img src="assets/OnlineShoppingProject/ChangePswd2.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Change Password</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingProject/Complaint.jpg" target="_blank">
                                <img src="assets/OnlineShoppingProject/Complaint.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Complaint</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingProject/DellPc.jpg" target="_blank">
                                <img src="assets/OnlineShoppingProject/DellPc.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Add Items</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingProject/ProductDetails.jpg" target="_blank">
                                <img src="assets/OnlineShoppingProject/ProductDetails.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Product Details</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingProject/CartItems.jpg" target="_blank">
                                <img src="assets/OnlineShoppingProject/CartItems.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Cart Items</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingProject/Payments.jpg" target="_blank">
                                <img src="assets/OnlineShoppingProject/Payments.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Payments</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingProject/SearchByID.jpg" target="_blank">
                                <img src="assets/OnlineShoppingProject/SearchByID.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Search By ID</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingProject/SearchByName.jpg" target="_blank">
                                <img src="assets/OnlineShoppingProject/SearchByName.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Search By Name</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <div class="jumbotron1">
        <div class="row">
            <div class="col-md-12">
                <h4><b>Administration</b></h4>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingProject/Admin_Login.jpg" target="_blank">
                                <img src="assets/OnlineShoppingProject/Admin_Login.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Admin Login</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingProject/AdminHomePage.jpg" target="_blank">
                                <img src="assets/OnlineShoppingProject/AdminHomePage.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Admin Home Page</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingProject/Manage_Complaint.jpg" target="_blank">
                                <img src="assets/OnlineShoppingProject/Manage_Complaint.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Manage Complaints</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingProject/Manage_Product.jpg" target="_blank">
                                <img src="assets/OnlineShoppingProject/Manage_Product.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Manage Products</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingProject/ManageCustomer_Details.jpg" target="_blank">
                                <img src="assets/OnlineShoppingProject/ManageCustomer_Details.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Manage Customer Details</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingProject/ManageOrder_Details.jpg" target="_blank">
                                <img src="assets/OnlineShoppingProject/ManageOrder_Details.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Manage Order Details</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingProject/Manage_Complaint.jpg" target="_blank">
                                <img src="assets/OnlineShoppingProject/Manage_Complaint.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Manage Complaints</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>