div .jumbotron1{
    background-color: darkgray;
    padding: 20px;
    border-radius: 10px;
}

div .thumb-border{
    // border: 2px solid black;
    padding: 2px;
    border-radius: 5px;
    background-color: #e6e6e6;
    
}

div .caption{
    color: black;
    font-weight: 700;
}

hr{
    border: 2px solid whitesmoke;
    margin-top: 0;
}

h4{
    margin-bottom: 0;
}

// @media only screen and (max-width:600px){
    
// }