div .jumbotron1{
    background-color: darkgray;
    padding: 20px;
    border-radius: 10px;
}

div .thumb-border{
    // border: 2px solid black;
    padding: 2px;
    border-radius: 5px;
    background-color: #e6e6e6;
    
}

div .caption{
    color: black;
    font-weight: 700;
}

hr{
    border: 2px solid whitesmoke;
    margin-top: 0;
}

h4{
    margin-bottom: 0;
}

.jumbotron1 .row .col-md-12 .row {
    padding: 0px 10px 0px 10px;
}

[class*="col-md-3"]{
    // margin: 0px;
    padding: 0px 5px 0px 5px;
}

@media screen and (max-width: 768px){
    body {
        font-size: 12px;
        padding: 5px;
    }
    .container .jumbotron1 .row .col-md-12 .space{
        display: none;
    }
    [class*="col-md-3"]{
        width: 50%;
        margin: 0px;
        padding: 5px;
    }
    .col-md-12 .row {
        padding: 0 5px 0 5px;
    }
}

@media screen and (max-width: 600px){
    body {
        font-size: 12px;
        padding: 5px;
    }
    .container{
        max-width: 100%;
    }
    .container .jumbotron1 .row .col-md-12 .space{
        display: none;
    }
    [class*="col-md-3"]{
        width: 100%;
        margin: 0px;
        padding: 5px;
    }
    .col-md-12 .row {
        padding: 0 5px 0 5px;
    }
}
