<div class="container" *ngIf="ProjectName=='OnlineShoppingSystem'">
    <div class="jumbotron1">
        <h2>Image Gallery</h2>
        <p>Click on the images to enlarge them.</p>
    </div>
    <p></p>
    <div class="jumbotron1">
        <div class="row">
            <div class="col-md-12">
                <h4><b>User</b></h4>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingSystem/AboutUs2.jpg" target="_blank">
                                <img src="assets/OnlineShoppingSystem/AboutUs2.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>About Us</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingSystem/ContactUs2.jpg" target="_blank">
                                <img src="assets/OnlineShoppingSystem/ContactUs2.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Contact Us</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingSystem/HomePage2.jpg" target="_blank">
                                <img src="assets/OnlineShoppingSystem/HomePage2.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Home Page</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingSystem/Registration.jpg" target="_blank">
                                <img src="assets/OnlineShoppingSystem/Registration.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Registration</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingSystem/ForgetPswd.jpg" target="_blank">
                                <img src="assets/OnlineShoppingSystem/ForgetPswd.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Forget Password</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingSystem/Login.jpg" target="_blank">
                                <img src="assets/OnlineShoppingSystem/Login.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Login</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingSystem/ChangePswd.jpg" target="_blank">
                                <img src="assets/OnlineShoppingSystem/ChangePswd.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Change Password</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingSystem/ChangePswd2.jpg" target="_blank">
                                <img src="assets/OnlineShoppingSystem/ChangePswd2.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Change Password</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingSystem/Complaint.jpg" target="_blank">
                                <img src="assets/OnlineShoppingSystem/Complaint.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Complaint</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingSystem/DellPc.jpg" target="_blank">
                                <img src="assets/OnlineShoppingSystem/DellPc.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Add Items</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingSystem/ProductDetails.jpg" target="_blank">
                                <img src="assets/OnlineShoppingSystem/ProductDetails.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Product Details</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingSystem/CartItems.jpg" target="_blank">
                                <img src="assets/OnlineShoppingSystem/CartItems.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Cart Items</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingSystem/Payments.jpg" target="_blank">
                                <img src="assets/OnlineShoppingSystem/Payments.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Payments</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingSystem/SearchByID.jpg" target="_blank">
                                <img src="assets/OnlineShoppingSystem/SearchByID.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Search By ID</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingSystem/SearchByName.jpg" target="_blank">
                                <img src="assets/OnlineShoppingSystem/SearchByName.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Search By Name</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <div class="jumbotron1">
        <div class="row">
            <div class="col-md-12">
                <h4><b>Administration</b></h4>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingSystem/Admin_Login.jpg" target="_blank">
                                <img src="assets/OnlineShoppingSystem/Admin_Login.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Admin Login</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingSystem/AdminHomePage.jpg" target="_blank">
                                <img src="assets/OnlineShoppingSystem/AdminHomePage.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Admin Home Page</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingSystem/Manage_Complaint.jpg" target="_blank">
                                <img src="assets/OnlineShoppingSystem/Manage_Complaint.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Manage Complaints</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingSystem/Manage_Product.jpg" target="_blank">
                                <img src="assets/OnlineShoppingSystem/Manage_Product.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Manage Products</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingSystem/ManageCustomer_Details.jpg" target="_blank">
                                <img src="assets/OnlineShoppingSystem/ManageCustomer_Details.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Manage Customer Details</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingSystem/ManageOrder_Details.jpg" target="_blank">
                                <img src="assets/OnlineShoppingSystem/ManageOrder_Details.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Manage Order Details</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/OnlineShoppingSystem/Manage_Complaint.jpg" target="_blank">
                                <img src="assets/OnlineShoppingSystem/Manage_Complaint.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Manage Complaints</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="ProjectName=='CargoManagementSystem'">
    <div class="jumbotron1">
        <h2>Image Gallery</h2>
        <p>Click on the images to enlarge them.</p>
    </div>
    <p></p>
    <div class="jumbotron1">
        <div class="row">
            <div class="col-md-12">
                <h4><b>User</b></h4>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/HomePageBL.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/HomePageBL.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>About Us</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/AboutUs.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/AboutUs.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>About Us</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/ContactUsEmpty.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/ContactUsEmpty.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Contact Us</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/ContactUsFillData.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/ContactUsFillData.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Home Page</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/LoginEmpty.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/LoginEmpty.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Registration</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/LoginFillData.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/LoginFillData.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Forget Password</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/SignUpEmpty.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/SignUpEmpty.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Login</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/SignUpFillData.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/SignUpFillData.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Change Password</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/SignUpSuccessMsg.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/SignUpSuccessMsg.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>SignUp successfuly</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/4_HomePageAL.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/4_HomePageAL.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Home Page after login</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/4_ChangePasswordEmpty.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/4_ChangePasswordEmpty.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Change Password</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/4_ChangePasswordFillData.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/4_ChangePasswordFillData.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Change Password with data</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/4_ChangePasswordSuccessful.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/4_ChangePasswordSuccessful.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Change Password successfuly</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/4_LogOut.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/4_LogOut.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>LogOut</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/1_UserRegistrationEmpty.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/1_UserRegistrationEmpty.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Registration</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/2_UserRegistrationFillData.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/2_UserRegistrationFillData.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Registration with data</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/3_UserRegistrationSuccessMsg.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/3_UserRegistrationSuccessMsg.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Registration successful</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/5_BookingEmpty.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/5_BookingEmpty.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Booking</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/6_BookingFillDataSuccess.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/6_BookingFillDataSuccess.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Booking with data</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/7_BillingEmpty.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/7_BillingEmpty.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Billing</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/8_BillingFillDataSuccess.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/8_BillingFillDataSuccess.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Billing with data</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/9_PaymentEmpty.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/9_PaymentEmpty.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Payment</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/10_PaymentFillData.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/10_PaymentFillData.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Payment with data</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/11_PaymentFillDataSuccessMsg.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/11_PaymentFillDataSuccessMsg.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>successful Payment</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/15_ComplaintEmpty.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/15_ComplaintEmpty.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Complaint</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/9_PaymentEmpty.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/9_PaymentEmpty.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Payment</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/16_ComplaintFillDataSuccessMsg.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/16_ComplaintFillDataSuccessMsg.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Complaint successful</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/17_CancelBookingEmpty.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/17_CancelBookingEmpty.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Cancel Booking</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/18_CancelBookingFillData.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/18_CancelBookingFillData.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Cancel Booking with data</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/User/19_CancelBookingFillDataSuccessMsg.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/User/19_CancelBookingFillDataSuccessMsg.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Cancel Booking successful</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <div class="jumbotron1">
        <div class="row">
            <div class="col-md-12">
                <h4><b>Administration</b></h4>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/Admin/1_LoginAdmin.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/Admin/1_LoginAdmin.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Admin Login</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/Admin/2_HomePageAL.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/Admin/2_HomePageAL.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Admin Home Page</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/Admin/3_ManageCustomerDetails.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/Admin/3_ManageCustomerDetails.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Manage Customer</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/Admin/4_ManageComplaints.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/Admin/4_ManageComplaints.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Manage Complaint</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/Admin/5_ManageCargoDetails.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/Admin/5_ManageCargoDetails.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Manage Cargo Details</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/Admin/6_ManageTracking.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/Admin/6_ManageTracking.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Manage Tracking</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/Admin/7_ManageBookings.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/Admin/7_ManageBookings.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Manage Booking</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/Admin/8_ManageCanceledBooking.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/Admin/8_ManageCanceledBooking.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Manage Cancelled Booking</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/Admin/9_ManageBills.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/Admin/9_ManageBills.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Manage Bills</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/Admin/10_ManageCanceledBills.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/Admin/10_ManageCanceledBills.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Manage Canclled Bills</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/Admin/11_OnlyViewPaymentDetails.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/Admin/11_OnlyViewPaymentDetails.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>View Payment Details</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/Admin/13_ManageReturnPayment.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/Admin/13_ManageReturnPayment.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Manage Payments Return</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <div class="jumbotron1">
        <div class="row">
            <div class="col-md-12">
                <h4><b>Administrative Staff</b></h4>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/ATC_Admin/1_LoginATC_Admin.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/ATC_Admin/1_LoginATC_Admin.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Login</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/ATC_Admin/5_CargoRegistrationSeccessful.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/ATC_Admin/5_CargoRegistrationSeccessful.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Cargo Registration</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/ATC_Admin/7_AdditionalBillingSuccessful.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/ATC_Admin/7_AdditionalBillingSuccessful.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Additional Billing</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/ATC_Admin/9_TrackBookingSuccessful.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/ATC_Admin/9_TrackBookingSuccessful.jpg" alt="Lights" style="width:100%;height: 200px;">
                                <div class="caption">
                                    <p>Track Booking</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail thumb-border">
                            <a href="assets/CargoManagementSystem/ATC_Admin/11_ReturnPaymentSuccessfulWithTransactionNo.jpg" target="_blank">
                                <img src="assets/CargoManagementSystem/ATC_Admin/11_ReturnPaymentSuccessfulWithTransactionNo.jpg" alt="Lights" style="width:100%;height: 200px">
                                <div class="caption">
                                    <p>Return Payment successfuly</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>